.contact_container{
    width: 60%;
    display: grid;
    grid-template-columns: 30% 85%;
    gap: 12%;
}
.contact_options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

}
.contact_option{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.contact_option:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}
.contact_option svg{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;    
}
.contact_option a {
    margin: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}
.contact_container form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact_container form input ,
.contact_container form textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    background: rgb(27, 27, 59);
    border: 2ps solid var(--color-primary);
    resize: none;
    color: var(--color-white);   
}
@media(max-width:1024px){
    .contact_container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}@media(max-width:600px){
    .contact_container{
        width: 90%;
    }
}