footer{
    background: var(--color-primary);
    padding: 40px 0 ;
    text-align: center;
    font-size: 14px;
    margin-top: 100px;
}
footer a{
    color: var(--color-bg);
}
.footer_logo{
    font-size: 25px;
    margin-bottom: 30px;
    display: inline-block;
}
.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 0 auto 30px;
}
.footer_socials{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
}
.footer_socials a{
    background: var(--color-bg);
    color: var(--color-white);
    padding: 12px;
    border-radius: 10px;
    display: flex;
    border: 1px solid transparent;
    transition: var(--transition);
}
.footer_socials a:hover{
background: transparent;
color: var(--color-bg);
border-color: var(--color-bg);
}
.footer_copyright{
    margin: 4rem;
    color: var(--color-bg);
}
.footer_copyright a{
    color: var(--color-white);
}

@media (max-width:600px){
.links{
    flex-direction: column;
    gap: 20px;
    
}
}