*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-varaint: rgba(77,181,255,0.4);
    --color-white:#fff;
    --color-light:rgba(255,255,255,0.6);
    --transition:all 0.4s ease;
}
body{
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
}
html{
    scroll-behavior: smooth;
}
.container{
    width: 80%;
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}
h1{
    font-size: 2.5rem;
}
.section{
    padding-top: 8rem;
}
.text-align{
    color: var(--color-light);
}
a{
    color: var(--color-primary);
    transition: var(--transition);
}
a:hover{
    color: var(--color-white);
}
.btn{
    width: max-content;
    display: inline-block;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}
.btn:hover{
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}
.btn-primary{
    background: var(--color-primary);
    color: var(--color-bg);
}
::-webkit-scrollbar{
    display: none;
}
img{
    display: block;
    width: 100%;
    object-fit: cover;
}
.top_section h2{
     text-align: center;
     color: var(--color-primary);
     margin-bottom:3rem;
}
.top_section h5{
    text-align: center;
    color: var(--color-light);
 }
@media (max-width:1024px){
.container{width: 85%;
}
.section{
    padding-top:5rem;
}
}
@media (max-width:600px){
.container{width: 90%;
}
.section{
    padding-top:5rem;
}
}